@import "../utils/variables";

header {
  position: fixed;

  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;

  @media (max-width: 768px) {
    padding: 5px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;

    li {
      font-weight: 500;
      display: block;
      color: white;
      &:hover {
        opacity: 0.5;
      }

      a {
        text-decoration: none;
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
